<div class="page-wrapper">
<div class="container">
  <h3 class="my-3">{{ title }}</h3>

  <div class="table-responsive">
    <table *ngIf="Reservations" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Customer ID</th>
          <th>Room ID</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Room Type</th>
          <th>Payment Amount</th>
          <th>Dates</th>
          <th>Status</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of Reservations">
          <td>{{ e.customerId }}</td>
          <td>{{ e.room }}</td>
          <td>{{ e.customer.firstName }} {{ e.customer.lastName }}</td>
          <td>{{ e.customer.email }}<br>{{ e.customer.phone }}</td>
          <td>{{ e.roomType }}</td>
          <td>{{ e.paymentAmount }}</td>
          <td>{{ e.dateArrival }} - {{ e.dateDeparture.substring(0, 10) }}</td>
          <td>{{ e.status }}</td>
          <td>
            <div class="d-flex flex-column align-items-start">
              <input [(ngModel)]="e.noteInput" class="form-control mb-1" type="text" placeholder="Add Note...">
              <button (click)="addNoteToReservation(e)" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-note-sticky"></i> Save
              </button>
              <p *ngIf="e.isNoteExist" class="mt-2"><b>Note:</b> {{ e.note }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>