<div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Welcome to Our Website!</h1>
          <hr>
          <p>You can find perfectly comfortable rooms and incredible vacations here.</p>
          <p>Explore our features:</p>
          <ul>
            <li><a routerLink="/reservations">Last Reservations</a></li>
            <li><a routerLink="/customer">Create Customer</a></li>
          </ul>
          <p>Discover the perfect getaway for your next vacation!</p>
        </div>
      </div>
    </div>
  </div>
  